<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name, 'DJ Name:' %>
  <%= f.text_field :name, :autofocus => true %>
</div>

<div class="field">
  <%= f.label :location, 'Location:' %>
  <%= f.text_field :location %>
</div>

<div class="field">
  <%= f.label :bio, 'Bio:' %>
  <%= f.text_area :bio, size: "15x5" %>
</div>

<div >
  <%= f.label :avatar_image, 'Avatar:' %>
  <%= f.file_field :avatar_image %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
