

 <div class="span8 page-wrap offset1">
  <div class= "name">
    <h2 class=<%= @user.title_color%>><%= @user.name %></h2>
  </div>
<div class="clearfix info-wrap">
<div class="dj_pic">
  <%= image_tag @user.avatar_image.detail.url if @user.avatar_image %>
</div>

<div class="dj_info">
Location: <%= @user.location %>
Bio: <%= @user.bio %>
</div>
</div>

  <div class="dj_tracks">
      <ul>
          <li>Tracks: <br>
          <% @user.music_tracks.each do |music_track| %>
          <%= link_to music_track.name, music_track %><br>
          <% end %></li>
    </ul>
  </div>

<% if can? :update, @user and current_user.role == 'dj' || 'admin' %>
<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<% end %>
<% if can? :update, @user and current_user.role == 'dj' %>
<%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Add Tracks', new_music_track_path %> |
<% end %>
<%= link_to 'All DJs', users_path %>
</div>
