
<ul>
  <li>Track Title: <%= @music_track.name %></li>
  <li>Release Date: <%= @music_track.release_date %></li>
  <li>About: <%= @music_track.description %></li>
  <li>DJ: <%= link_to @music_track.user.name, user_path(@music_track.user) if @music_track.user %></li>
  <li>Genres: <%= @music_track.genres.map { |x| x.name }.to_sentence %> </li>
  <li>Play: <%= @music_track.track_file %></li>
</ul>

<audio controls>
  <source src= <%= @music_track.track_file %> type="audio/ogg">
  <source src= <%= @music_track.track_file %> type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<%= render partial: 'comments/form' if can? :create, @comment %>

<ul class="track_comments">
<% @music_track.comments.each do |comment| %>
    <li>
        <%if can? :destroy, comment %>
          <%=link_to 'delete', music_track_comment_path(@music_track, comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
          <%= comment.description %><br>
          <%= comment.user.name %> on <%= comment.created_at.strftime('%c') %></li>
<% end %>
</ul>

<% if can? :update, @music_track.user %>
<%= link_to 'Edit Track', edit_music_track_path(@music_track) %> |
<%= link_to 'Delete Track', @music_track, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Add Track', new_music_track_path(@music_track.user) %> |
<% end %>
<%= link_to 'All Tracks', music_tracks_path %>
