<!DOCTYPE html>
<html>
<head>
  <title>DJ App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <ul class="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li>  <%= link_to 'DJs', users_path %></li>
    <li><%= link_to 'Tracks', music_tracks_path %></li>
    <li><%= link_to 'Genres', genres_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
