<!DOCTYPE html>
<html>
<head>
  <title>MYBASS</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body style="<%= content_for :background %>">
<div class="navbar  navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to 'MyBass', root_path %></li>
      <li>  <%= link_to 'DJs', users_path %></li>
      <li><%= link_to 'Tracks', music_tracks_path %></li>

              <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Genres
                    <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <% @genres.each do |genre| %>
                  <li ><%= link_to genre.name, genre %></li>
                  <% end %>
                </ul>
              </li>

      <%if current_user and current_user.role == "dj" %>
        <li><%= link_to 'My Profile', user_path(current_user.id) %></li>
        <li><%= link_to 'Add New Track', new_music_track_path %></li>
      <% end %>
      </ul>
    <ul class="nav pull-right">
      <li><% if current_user %>
        <%= link_to "Log Out, #{current_user.name}!" , logout_path %>
        <% else %>
        <%= link_to 'Log In', login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
<footer>
  <p>All works © MYBASS 2013. Please do not reproduce without the expressed written consent of MYBASS. </p>
  </footer>
</html>
